* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  font-family: "Open Sans", sans-serif;
}

#navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  height: 70px;
}

#navbar h1 {
  margin-left: 5rem;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#navbar ul li a {
  padding: 1.5rem;
}

#navbar ul li a:hover {
  background: #3362a2;
  border-radius: 4px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
  border-bottom: darkgray solid;
}

#home img {
  max-width: 100%;
  height: auto;
  border-radius: 25%;
  transition: all 0.4s;
  transform: scale(1);
}

#home img:hover {
  transition: all;
  transform: scale(1.1);
}

#home .name h2 {
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  opacity: 0.7;
  letter-spacing: 3px;
  font-family: "Sigmar One", cursive;
  font-size: 2rem;
}

#home .name p {
  opacity: 0.6;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

#training {
  color: #fff;
  padding: 2rem;
  border-bottom: darkgray solid;
}

#training .items {
  display: flex;
  justify-content: center;
  align-items: center;
}

#training .items .item {
  width: 33%;
  text-align: center;
  padding: 0.5rem;
}

#training .items .item:hover {
  color: lemonchiffon;
  opacity: 0.8;
}

#courses {
  color: #fff;
  padding: 2rem;
  border-bottom: darkgray solid;
}

.courses {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.courses .course {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.courses .course .course-image {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.courses .course .course-image img {
  border-radius: 10%;
  border: black solid;
  transition: all 0.4s;
  transform: scale(1);
}

.courses .course .course-image img:hover {
  transition: all 0.4s;
  transform: scale(1.1);
}

.courses .course .course-info .title {
  letter-spacing: 1, 2px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.courses .course .course-info .description {
  letter-spacing: 1, 2px;
  opacity: 0.6;
}

#contact {
  color: #fff;
  padding: 2rem;
  border-bottom: darkgray solid;
}

#contact .contact-form {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
